{% extends 'entries/entries_index.html' %}
{% load static i18n %}

{% block content %}

<div class="text-center pb-0">
  <a href="{% url 'entries:edit_language' user.profile.current_language.id %}">
    {{ user.profile.current_language.name }}
  </a>
</div>

<h3 class="text-center" title="change language">{% trans 'add entry' %} | 
  <a href="{% url 'accounts:toggle_current_language' next_view='add_entry' %}" class="a-lang">
    {{ user.profile.current_language.abbreviation }}
  </a>
</h3>

<form action="{% url 'entries:add_entry' %}" method="POST" class="site-form">
  {% csrf_token %}
  
  {% if articles.1 %}
  <select required name="article" id="" class="custom-select">
    {% for article in articles %}
    <option class="article-option" value="{{ article.id }}">{{ article.name }}</option>
    {% endfor %}
  </select>
  {% else %}
  <input type="hidden" name="article" value="{{ articles.0.id }}">
  {% endif %}
  
  {{ entry_form.name }}
  {% if entry_form.errors.name %}
  <div class="alert alert-danger">{{ entry_form.errors.name }}</div>
  {% endif %}

  {{ entry_form.commentary }}
  {% if entry_form.errors.commentary %}
  <div class="alert alert-danger">{{ entry_form.errors.commentary }}</div>
  {% endif %}

  {% if topics %}
  <select name="topic" id="" class="custom-select">
    <option value="">{% trans '(no topic)' %}</option>
    {% for topic in topics %}
    <option value="{{ topic.id }}">{{ topic.name }}</option>
    {% endfor %}
  </select>
  {% endif %}

  {% if integrity_error_entry %}
  <div class="alert alert-danger pt-0">
    {{ integrity_error_entry }} {{ integrity_error_message }}
  </div>
  {% endif %}

  <div class="mt-3">
    {{ translation_form.content }}
    {% if translation_form.errors.content %}
    <div class="alert alert-danger">{{ translation_form.errors.content }}</div>
    {% endif %}
  
    {{ translation_form.note }}
    {% if translation_form.errors.note %}
    <div class="alert alert-danger">{{ translation_form.errors.note }}</div>
    {% endif %}
  
    <div class="text-justify">*{% trans 'only one translation. If you want to add more meanings, check the box below before saving.' %}</div>
    <input type="checkbox" value="1" name="go-to-edit" id="go-to-edit" />
    <label for="go-to-edit">{% trans 'add more translations after saving' %}</label>
  </div>

  <button type="submit" class="btn btn-outline-info btn-block mt-3">{% trans 'add entry' %}</button>
</form> 

<div class="text-justify mt-3">
  {% if articles.1 %}
  <p><b>{% trans 'Article' %}</b>: {% trans 'the article that goes with the new word' %}. 
    <a href="{% url 'entries:edit_articles' user.profile.current_language.id %}">
      {% trans 'Edit articles' %}
    </a>
  </p>
  {% endif %}
  <p><b>{% trans 'New word' %}</b>: {% trans 'the word itself' %}.</p>
  <p><b>{% trans 'Commentary' %}</b>: {% trans 'your commentary on the new word. E.g. irregularities, contextual meaning, grammatical info, trivia' %}.</p>
  {% if topics %}
  <p><b>{% trans 'Topic' %}</b>: {% trans 'only one topic per word. Useful for precise search in the dictionary' %}.
    <a href="{% url 'entries:edit_topics' user.profile.current_language.id %}">
      {% trans 'Edit topics' %}
    </a>
  </p>
  {% endif %}
  <p><b>{% trans 'Translation' %}</b>: {% trans 'save each translation one by one, so you can search for the foreign word by <i>any</i> of them' %}.</p>
  <p><b>{% trans 'Translation note' %}</b>: {% trans 'your commentary on the particular translation' %}.</p>
</div>


{% endblock %}